<table class="table table-dark table-responsive table-hover">
  <thead>
    <tr>
      <th>Author</th>
      <th>File Name</th>
      <th>File Type</th>
      <th>Date</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody *ngFor="let document of documents| paginate: { itemsPerPage: 10, currentPage: p };let i = index">
    <tr class="clickable" (click)="getAllVersion(document.Key ,i)">
      <td>{{document.Record.author}}</td>
      <td>{{document.Key}}</td>
      <td>{{document.Record.mimetype}}</td>
      <td>{{document.Record.timestamp}}</td>
      <td><button class="btn btn-info" (click)="fileDownload(document.Key, document.Record.path,document.Record.filename)"> Download file</button></td>
    </tr>


  </tbody>
  <pagination-controls  style="float:right;" (pageChange)="p = $event" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"  screenReaderPageLabel="page"></pagination-controls>
</table>




<div *ngIf="visibility" class="row justify-content-center">
  <img src="../../assets/loading.gif" alt="" srcset="">
</div>
